In [47]:
import os
import utils
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer

In [4]:
cog_base = '/storage/gablab001/data/genus/current/structured/cognitive'
cog_file = 'GENUS_neuropsych_data_Domain_Scores.csv'

In [21]:
cog = pd.read_csv(os.path.join(cog_base, cog_file))

In [7]:
cog.head()

,FID,IID,SOPdomainAvgZ,ATVIdomainAvgZ,VWMdomainAvgZ,NVWMdomainAvgZ,VLMdomainAvgZ,NVLMdomainAvgZ,RPSdomainAvgZ,VISPAdomainAvgZ
0,H001,06H001,-0.994502,NaN,-0.058660,NaN,0.254863,0.733938,0.495773,NaN
1,H002,06H002,-0.647871,NaN,NaN,NaN,NaN,NaN,1.258445,NaN
2,H003,06H003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H004,06H004,-0.565002,NaN,0.515166,NaN,0.142402,1.153805,0.109642,NaN
4,H005,06H005,-0.564811,NaN,-1.029433,NaN,-1.241900,-1.582192,0.826519,NaN

In [10]:
cog.apply(pd.isnull).sum()

FID                   0
IID                   0
SOPdomainAvgZ       878
ATVIdomainAvgZ     3512
VWMdomainAvgZ      1390
NVWMdomainAvgZ     4844
VLMdomainAvgZ      2159
NVLMdomainAvgZ     5032
RPSdomainAvgZ      2398
VISPAdomainAvgZ    2402
dtype: int64

In [11]:
cog.dropna().shape

(547, 10)

In [16]:
fam_file = '/storage/gablab001/data/genus/current/structured/fam/FAM_N5338_EUR.csv'
fam = pd.read_csv(fam_file)

In [17]:
fam.head()

             IID                 FID pid mid  sex  affected
0        1106.04                1106   0   0    1         1
1        11260-1               11260   0   0    2         2
2        G_93180         GEN_03_1151   0   0    1         1
3        RPG6034             RPG6034   0   0    1         2
4  32-1-2-00-009  CIDAR_02_2009-2009   0   0    1         2

In [18]:
ids = np.intersect1d(cog.IID.values, fam.IID.values)

In [19]:
ids

array(['00225_A', '00226_B', '00228_B', ..., 'U042411', 'U042561',
       'U042562'], dtype=object)

In [29]:
fam_reduced = fam.set_index('IID').loc[ids].reset_index().drop_duplicates('IID')
cog_reduced = cog.set_index('IID').loc[ids].reset_index().drop_duplicates('IID')
print(fam_reduced.shape, cog_reduced.shape)

((4926, 6), (4926, 10))

In [30]:
fam_reduced.head()

       IID            FID pid mid  sex  affected
0  00225_A  DEC_JWS_00225   0   0    2         2
1  00226_B  DEC_JWS_00226   0   0    1         2
2  00228_B  DEC_JWS_00228   0   0    1         2
3  00233_B  DEC_JWS_00233   0   0    1         2
4   06H001           H001   0   0    2         1

In [31]:
cog_reduced.head()

,IID,FID,SOPdomainAvgZ,ATVIdomainAvgZ,VWMdomainAvgZ,NVWMdomainAvgZ,VLMdomainAvgZ,NVLMdomainAvgZ,RPSdomainAvgZ,VISPAdomainAvgZ
0,00225_A,DEC_JWS_00225,-2.397181,NaN,-1.539926,NaN,-3.778566,NaN,0.981764,-0.807805
1,00226_B,DEC_JWS_00226,-1.113352,NaN,-1.579818,NaN,-1.492848,NaN,3.559235,-1.213359
2,00228_B,DEC_JWS_00228,-0.465473,NaN,-0.469545,NaN,-0.126744,NaN,1.579159,1.236407
3,00233_B,DEC_JWS_00233,-1.682203,NaN,-1.914997,NaN,-2.865740,NaN,4.003487,-1.697674
4,06H001,H001,-0.994502,NaN,-0.058660,NaN,0.254863,0.733938,0.495773,NaN

In [33]:
(fam_reduced.IID.values == cog_reduced.IID.values).mean()

1.0

In [42]:
# 1 = patient, 0 = HC
cog_reduced['GROUP'] = fam_reduced.affected.values - 1
cog_reduced['SEX'] = fam_reduced.sex.values

In [43]:
cog_reduced.head()

,IID,FID,SOPdomainAvgZ,ATVIdomainAvgZ,VWMdomainAvgZ,NVWMdomainAvgZ,VLMdomainAvgZ,NVLMdomainAvgZ,RPSdomainAvgZ,VISPAdomainAvgZ,GROUP,SEX
0,00225_A,DEC_JWS_00225,-2.397181,NaN,-1.539926,NaN,-3.778566,NaN,0.981764,-0.807805,1,2
1,00226_B,DEC_JWS_00226,-1.113352,NaN,-1.579818,NaN,-1.492848,NaN,3.559235,-1.213359,1,1
2,00228_B,DEC_JWS_00228,-0.465473,NaN,-0.469545,NaN,-0.126744,NaN,1.579159,1.236407,1,1
3,00233_B,DEC_JWS_00233,-1.682203,NaN,-1.914997,NaN,-2.865740,NaN,4.003487,-1.697674,1,1
4,06H001,H001,-0.994502,NaN,-0.058660,NaN,0.254863,0.733938,0.495773,NaN,0,2

In [44]:
cog_reduced.apply(pd.isnull).mean() # to get percentages

IID                0.000000
FID                0.000000
SOPdomainAvgZ      0.131547
ATVIdomainAvgZ     0.485384
VWMdomainAvgZ      0.080187
NVWMdomainAvgZ     0.585668
VLMdomainAvgZ      0.270402
NVLMdomainAvgZ     0.646366
RPSdomainAvgZ      0.359927
VISPAdomainAvgZ    0.276289
GROUP              0.000000
SEX                0.000000
dtype: float64

In [55]:
# use everything while dropping missing values
cog_allscores_reduced = cog_reduced.dropna()
print(cog_allscores_reduced.shape)

(448, 12)

In [80]:
clf = Pipeline([
    ('scale', StandardScaler()),
    ('lg', linear_model.LogisticRegressionCV(
        penalty='l1',
        solver='liblinear',
        cv = StratifiedShuffleSplit(n_splits=4),
        Cs=1000
        ))
    ])

In [81]:
scores = cross_val_score(clf, 
                         X=cog_allscores_reduced[[i for i in utils.domain_scores]].values, 
                         y=cog_allscores_reduced['GROUP'].values,
                         cv=StratifiedShuffleSplit(),
                         scoring=make_scorer(roc_auc_score))

In [ ]:
# n_subjects here is 448
scores, np.mean(scores)

In [87]:
# check % of patients and controls
cog_allscores_reduced.GROUP.mean()
# so most ppl are patients

0.7455357142857143

In [57]:
# NVLMdomainAvgZ ATVIdomainAvgZ NVWMdomainAvgZ trying it again removing those scores
scores_to_remove = 'NVLMdomainAvgZ ATVIdomainAvgZ NVWMdomainAvgZ'.split(' ')

In [85]:
cog_five_scores = cog_reduced[np.setdiff1d(utils.domain_scores, scores_to_remove).tolist() + ['GROUP','SEX']].dropna()
print(cog_five_scores.shape)

(1761, 7)

In [77]:
cog_five_scores.head()

,RPSdomainAvgZ,SOPdomainAvgZ,VISPAdomainAvgZ,VLMdomainAvgZ,VWMdomainAvgZ,GROUP,SEX
0,0.981764,-2.397181,-0.807805,-3.778566,-1.539926,1,2
1,3.559235,-1.113352,-1.213359,-1.492848,-1.579818,1,1
2,1.579159,-0.465473,1.236407,-0.126744,-0.469545,1,1
3,4.003487,-1.682203,-1.697674,-2.865740,-1.914997,1,1
154,0.469281,-0.068378,-1.747035,-0.308135,-1.329291,0,2

In [83]:
scores = cross_val_score(clf, 
                         X=cog_five_scores[np.setdiff1d(utils.domain_scores, scores_to_remove)].values, 
                         y=cog_five_scores.GROUP.values,
                         cv=StratifiedShuffleSplit(),
                         scoring=make_scorer(roc_auc_score))

In [84]:
# n_subjects is 1761
scores, np.mean(scores)

(array([ 0.75236158,  0.73169772,  0.72913933,  0.79965888,  0.79480451,
         0.74416164,  0.78909735,  0.76672789,  0.72218578,  0.77663343]),
 0.76064681186040417)

In [86]:
# check the % of patients and controls
cog_five_scores.GROUP.mean()
# more even distribution which may account for the reduced accuracy

0.58319136854060194

In [93]:
res = {'auc':[]}
X=cog_five_scores[np.setdiff1d(utils.domain_scores, scores_to_remove)].values
y=cog_five_scores.GROUP.values
for num, (train, test) in enumerate(StratifiedShuffleSplit().split(X,y)):
    clf_ = clf
    clf_.fit(X[train], y[train])
    res['auc'].append(roc_auc_score(y[test], clf_.predict(X[test])))
    res['coef_{}'.format(num)] = clf_.named_steps['lg'].coef_
    res['Cs_{}'.format(num)] = clf_.named_steps['lg'].Cs_
    res['scores_{}'.format(num)] = clf.named_steps['lg'].scores_
    res['coef_paths_{}'.format(num)] = clf.named_steps['lg'].coefs_paths_

In [94]:
np.mean(res['auc'])

0.76676725268958279

In [ ]:
# should be able to make a regularization by accuracy by n_columns with
# the following things

In [99]:
pd.DataFrame(res['scores_1'][1])

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,...,0.773585,0.773585,0.773585,0.773585,0.773585,0.773585,0.773585,0.773585,0.773585,0.773585
1,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,...,0.754717,0.754717,0.754717,0.754717,0.754717,0.754717,0.754717,0.754717,0.754717,0.754717
2,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,...,0.817610,0.817610,0.817610,0.817610,0.817610,0.817610,0.817610,0.817610,0.817610,0.817610
3,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,0.415094,...,0.729560,0.729560,0.729560,0.729560,0.729560,0.729560,0.729560,0.729560,0.729560,0.729560

In [103]:
pd.DataFrame(res['coef_paths_1'][1][0])

            0         1         2         3         4         5
0    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
6    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
7    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
8    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
9    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
10   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
11   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
12   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
13   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
14   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
15   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
16   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
17   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
18   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
19   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
20   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
24   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
26   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
27   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
28   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
..        ...       ...       ...       ...       ...       ...
970  0.322502 -0.764911 -0.501909 -0.539879 -0.330348  0.601422
971  0.322556 -0.764896 -0.501812 -0.539914 -0.330364  0.601447
972  0.322609 -0.764918 -0.501813 -0.539898 -0.330358  0.601461
973  0.322522 -0.764897 -0.501827 -0.539917 -0.330376  0.601436
974  0.322463 -0.764832 -0.501691 -0.539871 -0.330469  0.601428
975  0.322438 -0.764832 -0.501779 -0.539911 -0.330544  0.601422
976  0.322550 -0.764890 -0.501784 -0.539875 -0.330401  0.601454
977  0.322466 -0.764846 -0.501733 -0.539884 -0.330445  0.601429
978  0.322520 -0.764856 -0.501782 -0.539951 -0.330477  0.601384
979  0.322513 -0.764940 -0.501895 -0.539905 -0.330339  0.601425
980  0.322440 -0.764830 -0.501831 -0.539929 -0.330405  0.601420
981  0.322462 -0.764869 -0.501746 -0.539887 -0.330433  0.601423
982  0.322532 -0.764914 -0.501894 -0.539941 -0.330272  0.601447
983  0.322541 -0.764913 -0.501845 -0.539885 -0.330312  0.601413
984  0.322581 -0.764945 -0.501800 -0.539873 -0.330462  0.601444
985  0.322498 -0.764885 -0.501810 -0.539931 -0.330417  0.601424
986  0.322540 -0.764909 -0.501771 -0.539893 -0.330438  0.601407
987  0.322552 -0.764860 -0.501761 -0.539939 -0.330354  0.601444
988  0.322517 -0.764875 -0.501697 -0.539887 -0.330522  0.601374
989  0.322528 -0.764874 -0.501790 -0.539942 -0.330439  0.601410
990  0.322492 -0.764873 -0.501825 -0.539965 -0.330382  0.601455
991  0.322535 -0.764905 -0.501738 -0.539861 -0.330459  0.601432
992  0.322508 -0.764855 -0.501828 -0.539931 -0.330474  0.601388
993  0.322470 -0.764783 -0.501796 -0.539844 -0.330416  0.601398
994  0.322497 -0.764901 -0.501816 -0.539941 -0.330411  0.601405
995  0.322486 -0.764930 -0.501762 -0.539916 -0.330488  0.601388
996  0.322497 -0.764878 -0.501806 -0.539919 -0.330391  0.601431
997  0.322486 -0.764784 -0.501732 -0.539934 -0.330496  0.601428
998  0.322577 -0.764909 -0.501854 -0.539915 -0.330210  0.601460
999  0.322461 -0.764822 -0.501755 -0.539912 -0.330349  0.601393

[1000 rows x 6 columns]

In [104]:
pd.DataFrame(res['Cs_1'])

                0
0        0.000100
1        0.000102
2        0.000104
3        0.000106
4        0.000108
5        0.000110
6        0.000112
7        0.000114
8        0.000116
9        0.000118
10       0.000120
11       0.000122
12       0.000125
13       0.000127
14       0.000129
15       0.000132
16       0.000134
17       0.000137
18       0.000139
19       0.000142
20       0.000145
21       0.000147
22       0.000150
23       0.000153
24       0.000156
25       0.000159
26       0.000162
27       0.000165
28       0.000168
29       0.000171
..            ...
970   5858.248200
971   5967.271196
972   6078.323128
973   6191.441756
974   6306.665541
975   6424.033659
976   6543.586019
977   6665.363268
978   6789.406813
979   6915.758829
980   7044.462277
981   7175.560919
982   7309.099329
983   7445.122911
984   7583.677915
985   7724.811451
986   7868.571507
987   8015.006962
988   8164.167605
989   8316.104153
990   8470.868267
991   8628.512566
992   8789.090653
993   8952.657126
994   9119.267598
995   9288.978720
996   9461.848195
997   9637.934800
998   9817.298406
999  10000.000000

[1000 rows x 1 columns]